@import url('styles.css');
@import url('footer.css');

.main-register{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.section-register{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-nombre,.input-contra,.boton-enviar{
    margin: 2.0rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.boton-enviar{
    width: 100%;
    background-color: var(--celeste);
    color: #FFF;
    text-align: center;
}