@import url('styles.css');
@import url('footer.css');
:root{
    --amarillo :#EAC926;
    --azul : #03264C;
    --celeste :#1259c3;
    --grisOscuro: #666;
    --grisClaro:#ebebeb;
    --verde :#39b54a;
    }
.main-login{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-login{
    width: 50%;
    margin: 2.0rem 0 3.0rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-nombre,.input-contra,.boton-enviar{
    margin: 2.0rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.boton-enviar{
    width: auto;
    margin: 2.0rem 0rem 0rem 0rem;
    padding: 1.0rem;
    background-color: var(--celeste);
    color: #FFF;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
}

.boton-enviar:hover{
    background-color: #0022AA;
}
/*desktop*/
@media screen and (min-width: 1200px){
    .burger-menu{
        display: none;
    }
    .box_productos{
        width: 20%;
       
    }
    .box_productos:hover{
        -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        transition: -webkit-box-shadow 2s,-moz-box-shadow 2s;
    }
    .descripcion{
        opacity: 0%;
       
    }
   @keyframes opacidad {
        0%{opacity: 0%}
        100%{opacity: 100%}
    }
    .box_productos:hover .descripcion{
        animation: opacidad 2s;
        animation-fill-mode: both;
    }
    #middle-box{
        border-left: 0.1rem solid black;
        border-right: 0.1rem solid black;
    }
}
/*tablets*/
@media screen and (min-width: 660px) and (max-width:1199px){
    .box_productos{
        width: 40%;  
    }
    .box_productos:hover{
        -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        transition: -webkit-box-shadow 2s,-moz-box-shadow 2s;
    }
    .descripcion{
        opacity: 0%;  
    }
    @keyframes opacidad {
        0%{opacity: 0%}
        100%{opacity: 100%}
    }
    .box_productos:hover .descripcion{
        animation: opacidad 2s;
        animation-fill-mode: both;
    }

    .burger-menu{
        display: none;
    }
    .section-footer{
        padding: 1.0rem;
        margin: 1.5rem 0rem 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media screen and (max-width: 659px){
    .descripcion{
        display: none;
    }
    .ul-1,.ul-2{
        display: none;
    }

    .title_ul{
        width: 100%;
       text-align: center;
       margin-top: 2.0rem;
    }
    .section-footer{
        padding: 1.0rem;
        margin: 1.5rem 0rem 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .first-title{
        text-align: center;
    }
    .first-title h2{
        margin-left: 0rem;
    }
    .second-title{
        text-align: center;
    }
    .second-title h2{
        margin-left: 0rem;
    }
   
}
@media screen and (min-width:521px) and (max-width: 659px){
    .logo_ml{
        flex-grow: 0.5;
    }
    .search_bar{
        flex-grow: 0.5;
    }
    .section-footer{
        padding: 1.0rem;
        margin: 1.5rem 0rem 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
}
@media screen and (max-width: 520px){
    .search_bar{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 2.0rem;
    }
    
    .logo_ml{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 2.0rem;
    }
    .section-footer{
        padding: 1.0rem;
        margin: 1.5rem 0rem 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
}