@import url('footer.css');
@import url('main.css');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;  
}

:root{
--amarillo :#EAC926;
--azul : #03264C;
--celeste :#1259c3;
--grisOscuro: #666;
--grisClaro:#ebebeb;
--verde :#39b54a;
};

body{
    font-family: 'Roboto' ;
    display: flex;
       
}

header{
    width: auto;  
    background-color: var(--amarillo);  
    font-size: 1.6rem;
    text-decoration: none;
   
}
.conteiner-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding:2.0rem 1.0rem 0rem;

}
.logo_ml{
    width: auto;
}

.logo_ml img{
    width: 85%;
    height: 85%;
}

.search_bar form input{
    background-color:#FFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;   
}

.search_bar form button{
    background-color:#FFF;
    color: var(--grisOscuro);
    padding: 0.5rem;
    border-radius: 30%;
    text-align: center;
    justify-content: center;
}

.title_ul, .search_bar{
    width: auto;
    display: flex;
}

form{
    display: flex;
}
.title_ul{
    margin-right: 0.5rem; 
}
.title_ul i{
    width: auto;
    
}
button{
    display: flex;
    width: auto;
    margin-left: 1.0rem;
}

.section-ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 2.0rem;
    margin-top: 2.0rem;
}
.ul-1,.ul-2{
    
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;   
}

.ul-1 a{
    margin: 0.5rem;
}

.ul-2 a{
    margin: 0.5rem;
}

a i{
    width: auto;
}
a{
    color: var(--grisOscuro);
    text-decoration: none;
}
span{
    color: var(--grisOscuro);
}
.burger-menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

.burger-menu i {
    color: var(--grisClaro);
    font-size: 3.0rem;
    padding: 0.6rem;
    background-color: var(--celeste);
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    border-radius: 0.5rem;
    margin-bottom: 2.0rem;
}

.img_banner{
    display: flex;
  
    
}
/*desktop*/
@media screen and (min-width: 1200px){
    .burger-menu{
        display: none;
    }
    .box_productos{
        width: 20%;
        -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    }
}
/*tablets*/
@media screen and (min-width: 660px) and (max-width:1199px){
    .box_productos{
        width: 40%;
        
    }
    .box_productos:hover{
        -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        transition: -webkit-box-shadow 2s,-moz-box-shadow 2s;
    }
    .burger-menu{
        display: none;
    }
}

@media screen and (max-width: 659px){
    .descripcion{
        display: none;
    }
    .ul-1,.ul-2{
        display: none;
    }

    .title_ul{
        width: 100%;
       text-align: center;
       margin-top: 2.0rem;
    }
}
@media screen and (min-width:521px) and (max-width: 659px){
    .logo_ml{
        flex-grow: 0.5;
    }
    .search_bar{
        flex-grow: 0.5;
    }
}
@media screen and (max-width: 520px){
    .search_bar{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 2.0rem;
    }
    
    .logo_ml{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 2.0rem;
    }
    
}