<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-Mercado Liebre</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
   
<header>
    <section class="conteiner-header">
    <picture class="logo_ml">
        <a href="/">
            <img src="/assets/img/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        </a>
    </picture>
    
    <nav class="search_bar">
    <form action="">
        <input type="text" placeholder="Buscar productos,marcas">
        <button type="submit"><i class="fa-solid fa-search"></i></button>
    </form>
    </nav>
 
    <section class="title_ul">
        <span><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</span>
    </section>
    </section>

    <section class="section-ul">
    <nav class="ul-1">
    <ul>
    <li>
        <a href="">Oferta</a>
    </li>
    <li>
        <a href="">Tiendas oficiales</a>
    </li>
    <li>
        <a href="">Vender</a>
    </li>
    <li>
        <a href="">Ayuda</a>
    </li>
    </ul>
    </nav>

    <nav class="ul-2">
    <ul>
        <li>
            <a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a>
        </li>
        <li>
            <a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>        
        </li>
        <li>
            <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
        </li>
    </ul>
    </nav>
    </section>

    <section class="burger-menu">
        <i class="fas fa-bars"></i>
    </section>
    
</header>

    <main class="main-register">

        <section class="section-register">
      <form class="form-register" action="/" method="post">
        <input type="text" name="nombre" placeholder="Nombre y apellido">
        <input type="text" name="nick" placeholder="Nombre de usuario" minlength="2" required>
        <input type="date" name="nacimiento">
        <input type="text" name="domicilio" placeholder="Domicilio">
        <input type="number" name="telefono" placeholder="Telefono">
        <input type="email" name="Email" placeholder="Email">

        <fieldset class="fieldset-1">
            <span class="span">Perfil de usuario</span>
 
        <section>
        <label for="comprador">Comprador</label>
        <input type="radio" name="view" id="comprador">
        <label for="vendedor">Vendedor</label>
        <input type="radio" name="view" id="vendedor">       
        </section>
        </fieldset>

        <fieldset class="fieldset-2">
            <span class="span">Categorias de interes</span>
        <section>
        <label for="electro">Electronica</label>    
        <input type="checkbox" name="electro" id="electro">
        <label for="moda">Moda</label>
        <input type="checkbox" name="moda" id="moda">
        <label for="hogar">Hogar</label>
        <input type="checkbox" name="hogar" id="hogar" >
        <label for="jugueteria">Jugueteria</label>
        <input type="checkbox" name="jugueteria" id="jugueteria" >
        <label for="vidaSana">Vida sana</label>
        <input type="checkbox" name="vidaSana" id="vidaSana" >
        <label for="autos">Autos</label>
        <input type="checkbox" name="autos" id="autos" >
        <label for="mascotas">Mascotas</label>
        <input type="checkbox" name="mascotas" id="mascotas" >
        <label for="agro">Agro</label>
        <input type="checkbox" name="agro" id="agro" >
        <label for="colecciones">Colecciones</label>
        <input type="checkbox" name="colecciones" id="colecciones" >
        <label for="jardin">Jardin</label>
        <input type="checkbox" name="jardin" id="jardin" >
        </section>
        </fieldset>

        <section class="section-perfil">
        <label class="label-perfil" for="fotoPerfil">Selecionar foto de perfil</label>
        <input class="input-perfil" type="file" name="fotoPerfil" id="fotoPerfil">
        </section>

        <input type="password" name="contrasenia" placeholder="Contraseña" minlength="6" required>
        <input type="password" name="rep-contra" placeholder="Repetir contraseña" minlength="6" required>
        <button type="submit" class="boton-enviar">Enviar</button>
        <button type="reset" class="boton-reset">Borrar Formulario</button>
    </section>  
    </form>
    </main>
   

    <footer class="footer">
        <section class="section-footer">
        <article class="boxs-footer">
        <div class="div-logo">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas
        sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        </article>
    
        <article class="boxs-footer" id="middle-box">
        <div class="div-logo">
            <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre
            tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos</p>
        </article>
    
        <article class="boxs-footer">
        <div class="div-logo">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado 
            Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
       </article>
        </section>
    
        <article class="article-footer">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
        </article>
    
    </footer>
</body>
</html>